.page {
  max-width: var(--max-width);
  width: calc(100vw - 4rem);
}

.teamColumn {
  @apply flex gap-10 mt-8;

  .section {
    @apply flex flex-col gap-2;
  }

  .header {
    @apply uppercase text-xl;
  }

  .container {
    @apply flex flex-col gap-4;

    width: 260px;
  }

  .pokemon {
    @apply py-2 px-6 shadow-lg flex items-center relative;

    border-radius: 48px;
    height: 62px;
    width: 260px;
    background: linear-gradient(
      118deg,
      var(--midnight-primary),
      var(--midnight-primary) 70%,
      var(--midnight-hover) 70%
    );

    .images {
      @apply flex items-center absolute right-4;
    }
  }
}

.nonTeamColumn {
  @apply flex flex-col gap-10;

  .section {
    @apply flex flex-col gap-2;
    min-height: 95.5px;
  }

  .container {
    @apply flex flex-wrap gap-4;
  }
}
