.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  height: 1.2rem;

  transition: color 0.2s;

  &:hover {
    color: var(--text-primary);
  }

  button.action {
    display: none;
    margin-top: -4px;
    width: 28px;
    height: 28px;
    padding: 6px;
  }
}

.container:hover .action {
  display: block;
}
