@tailwind utilities;

:root {
  --text-primary: #ffffff;
  --text-caption: #f8fafc9a;
  --text-disabled: #f8fafc4b;

  --background: #071e3e;

  --midnight-hover: #113464;
  --midnight-primary: #0c2951;
  --midnight-primary50: #0c295185;
  --midnight-disabled: #0c29514d;
  --toastify-color-dark: var(--midnight-hover);

  --pink-primary: #ec4899;
  --pink-hover: #f9a8d4;
  --pink-disabled: #ec48994d;

  --blue-primary: #38bdf8;
  --blue-primary-text: var(--text-primary);
  --blue-hover: #89dbff;
  --blue-hover-text: var(--background);
  --blue-disabled: #38bdf84d;
  --blue-disabled-text: var(--text-primary);

  --yellow-primary: #fbbf24;
  --yellow-primary-text: var(--background);
  --yellow-hover: #ffde8a;
  --yellow-hover-text: var(--background);
  --yellow-disabled: #fbbf244d;
  --yellow-disabled-text: var(--text-primary);

  --grey-primary: theme(colors.slate.400);
  --grey-primary-text: var(--text-primary);
  --grey-hover: theme(colors.slate.500);
  --grey-hover-text: var(--background);
  --grey-disabled: theme(colors.slate.400 / 30%);
  --grey-disabled-text: var(--text-primary);

  --red-primary: #ff2020;
  --red-primary-text: var(--text-primary);
  --red-hover: #ff8a8a;
  --red-hover-text: var(--background);
  --red-disabled: #ff20204d;
  --red-disabled-text: var(--text-primary);

  --purple-primary: #c095fa;
  --purple-primary-text: var(--text-primary);
  --purple-hover: #d8bbff;
  --purple-hover-text: var(--background);
  --purple-disabled: #ede1fe4d;
  --purple-disabled-text: var(--text-primary);

  --font: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --code-font: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

* {
  box-sizing: border-box;
  transition: background 0.2s, border 0.2s, color 0.2s, box-shadow 0.2s;
}

html,
body {
  background-color: var(--background);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  font-family: var(--font);
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-weight: 600;
}

h1 {
  color: var(--text-primary);
  font-size: 48px;
}
h2 {
  color: var(--text-primary);
  font-size: 36px;
}
h3 {
  font-size: 28px;
}

p {
  &.large {
    font-size: 20px;
  }
  &.caption {
    color: var(--text-caption);
    font-size: 0.8rem;
  }
  &.warning {
    color: var(--yellow-primary);
  }
  &.alignRight {
    text-align: right;
  }
}

a {
  --primary: var(--purple-primary);
  --primary-text: var(--purple-primary-text);
  --hover: var(--purple-hover);
  --hover-text: var(--purple-hover-text);
  --disabled: var(--purple-disabled);
  --disabled-text: var(--purple-disabled-text);

  text-decoration: none;
  color: var(--text-primary);
  background-color: transparent;

  padding: 0px 2px;
  border: 0;
  border-bottom: 1px dashed white;
  border-radius: 0;

  &:hover:not([aria-disabled="true"]) {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
  &:active:not([aria-disabled="true"]),
  &.active {
    background-color: transparent;
    color: var(--hover);
    border-color: var(--hover);
    outline: none;
  }
  &[aria-disabled="true"] {
    background-color: transparent;
    border-color: var(--text-disabled);
    color: var(--text-disabled);
  }
}

button {
  --primary: var(--purple-primary);
  --primary-text: var(--purple-primary-text);
  --hover: var(--purple-hover);
  --hover-text: var(--purple-hover-text);
  --disabled: var(--purple-disabled);
  --disabled-text: var(--purple-disabled-text);

  font-family: var(--font);
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: baseline;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 2px;
  padding: 4px 12px;
  border: 1px solid transparent;

  .button-icon {
    height: 1rem;
    width: 1rem;
    margin-left: -4px;
    margin-right: 6px;
  }

  &,
  &.filled {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--primary-text);

    &:hover:not([aria-disabled="true"]) {
      background-color: var(--hover);
      border-color: var(--hover);
    }
    &:active:not([aria-disabled="true"]),
    &.active {
      box-shadow: 0 0 0 2px var(--disabled);
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--primary-text);
      box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.12);
    }
    &[aria-disabled="true"] {
      cursor: not-allowed;
      background-color: var(--disabled);
      border-color: var(--disabled);
      color: var(--disabled-text);
    }

    &.icon {
      padding: 8px;
      width: 32px;
      height: 32px;
      border-radius: 50%;

      .button-icon {
        margin: 0;
      }
    }
  }

  &.outline {
    border-color: var(--grey-hover);
    background-color: transparent;
    color: var(--text-primary);
    outline-color: transparent;

    &.subtle {
      border-color: var(--grey-primary);
      color: var(--text-caption);
    }

    &:hover:not([aria-disabled="true"]) {
      background-color: transparent;
      color: var(--primary);
      border-color: var(--primary);
    }
    &:active:not([aria-disabled="true"]),
    &.active {
      border-color: var(--primary);
      box-shadow: 0 0 0 2px var(--disabled);
      outline: none;
    }
    &[aria-disabled="true"] {
      border-color: var(--grey-primary);
      color: var(--grey-primary);
    }
  }

  &.text {
    color: var(--text-primary);
    background-color: transparent;

    padding: 0px 2px;
    border: 0;
    border-bottom: 1px dashed white;
    border-radius: 0;

    &:hover:not([aria-disabled="true"]) {
      background-color: transparent;
      color: var(--primary);
      border-color: var(--primary);
    }
    &:active:not([aria-disabled="true"]),
    &.active {
      background-color: transparent;
      color: var(--hover);
      border-color: var(--hover);
      outline: none;
    }
    &[aria-disabled="true"] {
      background-color: transparent;
      border-color: var(--text-disabled);
      color: var(--text-disabled);
    }
    &.no-underline {
      border-bottom: 0;
    }

    &.icon {
      border: 0;
    }
  }

  &.danger {
    --primary: var(--red-primary);
    --primary-text: var(--red-primary-text);
    --hover: var(--red-hover);
    --hover-text: var(--red-hover-text);
    --disabled: var(--red-disabled);
    --disabled-text: var(--red-disabled-text);
  }
}

input,
textarea {
  background: transparent;
  padding: 4px 8px;
  border: 1px solid var(--grey-hover);
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--font);
  color: var(--text-primary);

  &::placeholder {
    color: var(--text-primary);
  }

  &:focus,
  &:focus-within {
    outline: none;
    border-color: #fff;
    box-shadow: 0 0 0 2px var(--purple-disabled);
  }

  &[aria-disabled="true"],
  &.disabled {
    border-color: var(--grey-primary);
    color: var(--grey-primary);
  }
}

.tooltipContent {
  background-color: var(--midnight-hover);
  border-radius: 4px;
  padding: 4px 8px;

  flex-grow: 0;
  width: max-content;
}

//* ----------------------------------#07cf7f

.timelineItem {
  --tail-height: 12px;
  position: relative;

  .timelineItem-dot {
    width: 16px;
    height: 16px;
    margin-top: 4px;
  }

  & + & {
    margin-top: calc(var(--tail-height) + 4px);

    &::before {
      content: "";
      position: absolute;
      top: calc(0px - var(--tail-height));
      left: 7px;
      height: var(--tail-height);
      border-left: 1px solid var(--grey-primary);
    }
  }
}

.loading-spinner {
  animation-name: jnpr-loading-spinner;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jnpr-loading-spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

//* ----------------------------------#07cf7f

.flex {
  &.center {
    justify-content: center;
    align-items: center;
  }
}

.shrink-0 {
  flex-shrink: 0;
}

.grow {
  &-1 {
    flex-grow: 1;
  }
}

.pointer {
  cursor: pointer;
}

.color-purple {
  color: var(--purple-primary);
}

.teko {
  font-family: "Teko";
}
