:root {
  --text-primary: #ffffff;
  --text-caption: #f8fafc9a;
  --text-disabled: #f8fafc4b;

  --background: #071e3e;

  --midnight-hover: #113464;
  --midnight-primary: #0c2951;
  --midnight-primary50: #0c295185;
  --midnight-disabled: #0c29514d;

  --pink-primary: #ec4899;
  --pink-hover: #f9a8d4;
  --pink-disabled: #ec48994d;

  --blue-primary: #38bdf8;
  --blue-hover: #89dbff;
  --blue-disabled: #38bdf84d;
  --blue-background: #07598594;

  --yellow-primary: #fbbf24;
  --yellow-hover: #ffde8a;
  --yellow-disabled: #fbbf244d;

  --grey-primary: #52525b;
  --grey-hover: #a1a1aa;
  --grey-disabled: #52525b4d;

  --red-primary: #ff2020;
  --red-hover: #ff8a8a;
  --red-disabled: #ff20204d;

  --purple-primary: #c095fa;
  --purple-hover: #d8bbff;
  --purple-disabled: #ede1fe4d;

  --font: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  background-color: var(--background);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
  font-family: var(--font);
  font-size: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-weight: 600;
}

h1,
h2 {
  color: var(--text-primary);
}

h2 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

button {
  font-family: var(--font);
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: baseline;

  transition: background 0.2s, border 0.2s, color 0.2s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 2px;
  padding: 4px 12px;

  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--text-caption);

  &:hover:not([aria-disabled="true"]) {
    color: var(--blue-primary);
    border-color: var(--blue-primary);
  }
  &:active:not([aria-disabled="true"]),
  &.active {
    border-color: var(--blue-primary);
  }

  &:active:not([aria-disabled="true"]) {
    box-shadow: 0 0 0 2px var(--blue-disabled);
    outline: none;
  }
  &[aria-disabled="true"] {
    cursor: not-allowed;
    background-color: var(--071e3e);
    border-color: var(--midnight-primary);
    color: var(--text-disabled);
  }

  .button-icon {
    height: 1rem;
    width: 1rem;
    margin-left: -4px;
    margin-right: 6px;
  }
}

.loading-spinner {
  animation-name: jnpr-loading-spinner;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jnpr-loading-spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

//* ----------------------------------#07cf7f

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.spaceBetween {
    justify-content: space-between;
  }

  &.justifyEnd {
    justify-content: flex-end;
  }

  &.gap05 {
    gap: 0.5rem;
  }
}

p {
  &.caption {
    color: var(--text-caption);
    font-size: 0.8rem;
  }
  &.warning {
    color: var(--yellow-primary);
  }
  &.alignRight {
    text-align: right;
  }
}

.pointer {
  cursor: pointer;
}

//* ----------------------------------#07cf7f

.ant-modal-content {
  background-color: var(--background);

  .ant-modal-header {
    background-color: var(--background);
    border-bottom-color: var(--midnight-primary);
  }

  .ant-modal-footer {
    background-color: var(--background);
    border-top-color: var(--midnight-primary);
  }
}

.ant-tooltip-inner,
.ant-popover-inner,
.ant-message-notice-content,
.ant-select-dropdown {
  background-color: var(--midnight-primary);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input,
.ant-checkbox-inner {
  border-color: var(--midnight-hover);
}

.ant-modal .ant-picker-clear,
.ant-modal .ant-slider-handle,
.ant-modal .ant-anchor-wrapper,
.ant-modal .ant-collapse-content,
.ant-modal .ant-timeline-item-head,
.ant-modal .ant-card {
  background-color: var(--background);
}

.ant-timeline-item-tail {
  border-left-color: var(--midnight-primary);
}

.ant-timeline .ant-timeline-item:last-child .ant-timeline-item-tail {
  display: none;
}

.ant-badge-status-processing {
  position: absolute;
  overflow: visible;
}

.ant-btn {
  border-color: var(--midnight-primary);
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-color: var(--midnight-primary);
}

.ant-tabs-tab {
  &.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--yellow-primary);
  }
  &:hover {
    color: var(--text-primary);
  }
}

.ant-tabs-ink-bar {
  background-color: var(--yellow-primary);
}

.ant-btn {
  &:hover,
  &:focus {
    color: var(--blue-primary);
    border-color: var(--blue-hover);
  }

  &.ant-btn-dangerous {
    color: var(--pink-hover);
    &:hover,
    &:focus {
      color: var(--pink-hover);
      border-color: var(--pink-hover);
    }
  }

  &.ant-btn-primary {
    border-color: var(--blue-background);
    &:hover,
    &:focus {
      color: var(--text-primary);
    }
  }
}

.formButtons .ant-form-item-control-input-content {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 0.2rem;
}
