.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main,
.section {
  padding: 1rem;
  max-width: 600px;
  width: 100%;
}

.main {
  padding: 16rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  width: 100%;
  height: 100px;
  background: var(--tertiary50);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-caption);
  margin-top: 2rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:hover {
  color: var(--brand);
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.25;
  color: var(--text-caption);
  font-weight: lighter;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.highlight {
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.2s;
}
.highlight:hover,
.highlight:focus,
.highlight:active {
  color: var(--text-secondary);
  font-style: italic;
}

.title {
  background: var(--brand); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    var(--brand),
    var(--brand-secondary)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    var(--brand),
    var(--brand-secondary)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  line-height: 1;
  font-size: 4.2rem;
  margin-bottom: 1rem;
}

/* //* Buttons */

.actionButton {
  background: var(--brand); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    var(--brand) 10%,
    var(--brand-secondary)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    var(--brand) 10%,
    var(--brand-secondary)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: none;

  color: var(--background);
  font-weight: bold;
}

.actionButton:hover,
.actionButton:focus,
.actionButton:active {
  background: var(--brand); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    var(--brand),
    var(--brand-secondary) 60%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    var(--brand),
    var(--brand-secondary) 60%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--background);
}

.secondaryButton:hover,
.secondaryButton:focus,
.secondaryButton:active {
  border-color: var(--brand50);
  color: var(--brand);
}
