.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(#071e3e7c, #071e3e 300px),
    url("/sootopolis.png");
  background-position: top center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1000px) {
  .container {
    background-size: 100% auto;
  }
}

.main,
.section {
  padding: 1rem;
  max-width: 600px;
  width: 100%;
}

.main {
  padding: 12rem 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  width: 100%;
  height: 100px;
  background: var(--midnight-disabled);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-caption);
  margin-top: 2rem;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.1rem;
  color: var(--text-caption);
  font-weight: lighter;
  font-family: var(--code-font);
}

.title {
  background: var(--purple-primary); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    var(--purple-primary),
    var(--yellow-primary)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    var(--purple-primary),
    var(--yellow-primary)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  line-height: 1;
  font-size: 4.2rem;
  margin-bottom: 1rem;
}
