.location {
  display: flex;
  align-items: center;

  text-transform: capitalize;
  font-weight: 400;
  color: var(--text-primary);
}

.badge {
  text-transform: uppercase;
}

.tag {
  @apply flex gap-2 items-center;
  text-transform: uppercase;

  sup {
    width: 6px;
    height: 6px;
    text-transform: uppercase;
    outline: solid 5px transparent;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &.team sup {
    background-color: var(--pink-primary);
    outline-color: var(--pink-disabled);
  }
  &.box sup {
    background-color: var(--blue-primary);
    outline-color: var(--blue-disabled);
  }
  &.grave sup {
    background-color: var(--grey-primary);
    outline-color: var(--grey-disabled);
  }
  &.daycare sup {
    background-color: var(--yellow-primary);
    outline-color: var(--yellow-disabled);
  }

  // &.team {
  //   font-weight: 500;
  //   color: var(--pink-hover);
  // }
  // &.box {
  //   color: var(--blue-primary);
  // }
  // &.grave {
  //   color: var(--grey-hover);
  // }
  // &.daycare {
  //   color: var(--yellow-primary);
  // }
}

.listing {
  @apply capitalize;

  &MoveButton {
    color: var(--text-caption);
    border-color: transparent;
    background: transparent;

    &:hover {
      color: #60a5fa;
    }
  }

  &NotesButton {
    color: var(--text-caption);
    border-color: transparent;
    background: transparent;

    &:hover {
      color: #94a3b8;
    }
  }
}

.deleteConfirm {
  max-width: 260px;
}
