.location {
  display: flex;
  align-items: center;

  text-transform: capitalize;
  font-weight: 400;
  color: var(--text-primary);

  [class*="badge"] sup {
    right: -10px;
  }
}

.badge {
  text-transform: uppercase;

  &.team sup {
    color: #fce7f3;
    background-color: #ec4899;
  }
  &.box sup {
    color: #38bdf8;
    background-color: #075985;
  }
  &.grave sup {
    color: #a1a1aa;
    background-color: #52525b;
  }
  &.daycare sup {
    color: #fbbf24;
    background-color: #b45309;
  }
}

.tag {
  text-transform: uppercase;

  &.team {
    font-weight: 500;
    color: var(--pink-hover);
    border-color: var(--pink-primary);
    background-color: var(--pink-disabled);
  }
  &.box {
    color: var(--blue-primary);
    border-color: var(--blue-hover);
    background-color: var(--blue-disabled);
  }
  &.grave {
    color: var(--grey-hover);
    border-color: var(--grey-primary);
    background-color: var(--grey-disabled);
  }
  &.daycare {
    color: var(--yellow-primary);
    border-color: var(--yellow-hover);
    background-color: var(--yellow-disabled);
  }
}

.listing {
  &DeleteButton {
    color: var(--text-caption);
    border-color: transparent;
    background: transparent;

    &:hover {
      color: #ef4444;
    }
  }

  &MoveButton {
    color: var(--text-caption);
    border-color: transparent;
    background: transparent;

    &:hover {
      color: #60a5fa;
    }
  }

  &NotesButton {
    color: var(--text-caption);
    border-color: transparent;
    background: transparent;

    &:hover {
      color: #94a3b8;
    }
  }
}

.deleteConfirm {
  max-width: 260px;
  margin: 0;
}
