.group {
  display: inline-flex;

  & > *:not(:first-child) {
    margin-left: -6px;
  }

  &Actionable {
    transition: filter 0.2s;
    &:hover {
      filter: drop-shadow(0 0 4px #969696);
    }
  }

  &Selected {
    filter: drop-shadow(0 0 4px #fff);
    &:hover {
      filter: drop-shadow(0 0 4px #fff);
    }
  }
}

.party {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.icon {
  &Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.modal {
  overflow: hidden;

  &Bgd {
    background: linear-gradient(
      118deg,
      var(--midnight-primary),
      var(--midnight-primary) 82%,
      var(--midnight-hover) 82%
    );
  }

  &Header {
    @apply gap-4;

    position: relative;
    display: flex;
    align-items: flex-start;
    width: 80%;

    &Img {
      image-rendering: crisp-edges;
      image-rendering: pixelated;
    }

    h4,
    h3 {
      margin: 0;
    }

    h4 {
      color: var(--text-caption);
      text-transform: capitalize;
      line-height: 1em;
    }

    &Tag {
      @apply mb-1;
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }
}
