.badge {
  text-transform: uppercase;

  &.team sup {
    color: #fce7f3;
    background-color: #ec4899;
  }
  &.box sup {
    color: #38bdf8;
    background-color: #075985;
  }
  &.grave sup {
    color: #a1a1aa;
    background-color: #52525b;
  }
  &.daycare sup {
    color: #fbbf24;
    background-color: #b45309;
  }
}

.group {
  display: inline-flex;

  & > *:not(:first-child) {
    margin-left: -6px;
  }

  &Actionable {
    transition: filter 0.2s;
    &:hover {
      filter: drop-shadow(0 0 4px #969696);
    }
  }

  &Selected {
    filter: drop-shadow(0 0 4px #fff);
    &:hover {
      filter: drop-shadow(0 0 4px #fff);
    }
  }
}

.party {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
