.group {
  display: inline-flex;

  & > *:not(:first-child) {
    margin-left: -6px;
  }

  &Actionable {
    transition: filter 0.2s;
    &:hover {
      filter: drop-shadow(0 0 4px #969696);
    }
  }

  &Selected {
    filter: drop-shadow(0 0 4px #fff);
    &:hover {
      filter: drop-shadow(0 0 4px #fff);
    }
  }
}

.party {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.icon {
  &Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    img {
      max-width: 40px;
      max-height: 40px;
    }
  }
}

.modal {
  &Header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

    &Img {
      margin-top: -24px;
      margin-bottom: -6px;
    }

    h4,
    h3 {
      margin: 0;
    }

    h4 {
      color: var(--text-caption);
      text-transform: capitalize;
      line-height: 1em;
    }

    &Tag {
      font-size: 0.6rem;
      line-height: 1rem;
    }

    &Edit {
      position: absolute;
      display: none;
      top: 24px;
    }

    &:hover &Edit {
      display: block;
    }
  }
}
