.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding: 4rem 0;

  background-image: linear-gradient(#071e3e7c, #071e3e 300px),
    url("/Mossdeep.png");
  background-position: top center;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  h2,
  h3 {
    margin: 0.1rem 0 0.2rem;
  }
}

.pokeball {
  position: absolute;
  left: -20px;
  top: 18px;
}

.header {
  width: 100vw;
  padding: 0 2rem;
  position: relative;
  z-index: 2;
}

.content {
  max-width: 720px;
}

.tab {
  @apply cursor-pointer;

  font-family: "Teko";
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #f7f9fb;
  opacity: 0.6;

  border-bottom: 1px solid transparent;

  transition: all 0.2s;

  &.selectedTab {
    opacity: 1;
    border-color: white;
  }
}

.tabs {
  width: 100%;
}

.outerContainer {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.affix {
  position: fixed;
  right: 16px;
  bottom: 16px;

  border-radius: 50%;
  width: 32px;
  height: 32px;

  opacity: 0.2;
  transition: opacity 0.4s;

  cursor: pointer;
}

.affix:hover {
  opacity: 1;
}

.affix a {
  color: unset;
  border: 0;
}

.tippy {
  @apply p-2;
  width: 240px;
}
