.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.badgeBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: 100%;

  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  border-radius: 0.2rem;

  img {
    width: 32px;
    height: 32px;

    &:not(.earned) {
      filter: brightness(0);
      opacity: 0.4;
    }
  }
}

.team {
  & {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0;
    position: relative;
    min-width: 240px;
    margin-top: 1.8rem;
  }

  .pokemon {
    position: relative;
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .nickname {
      background: var(--tertiary);
      margin-left: -32%;
      padding: 0.1rem 0.4rem 0;
      border-radius: 4px;
      white-space: nowrap;
      text-transform: uppercase;
      font-family: "Teko";
    }
  }

  img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 162%;
    margin-left: -32%;
  }

  .onRight {
    img {
      margin-right: -32%;
    }
    .nickname {
      margin-right: -32%;
    }
  }

  .faceRight {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .playerName {
    position: absolute;
    top: -42%;
    color: var(--tertiary);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
}

.section {
  &Header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &Divider {
    flex: 1;
    border-bottom: 1px solid var(--tertiary);
  }
}

.dualContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.grave {
  & {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1 0;
    position: relative;
    min-width: 240px;
  }

  &.onRight {
    align-items: flex-end;
    .gravePokemon {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &Count {
    color: var(--text-caption);
    padding: 0 0.2rem;
    margin-bottom: 0.4rem;
  }

  &Pokemon {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 6px;
  }
}
