.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.badgeBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: 100%;

  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  border-radius: 0.2rem;

  img {
    width: 32px;
    height: 32px;

    &:not(.earned) {
      filter: brightness(0);
      opacity: 0.4;
    }
  }
}

.team {
  & {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0;
    position: relative;
    min-width: 240px;
  }

  &sContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }

  .pokemon {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 162%;
    margin-left: -32%;
  }

  .onRight {
    align-items: flex-end;

    img {
      margin-right: -32%;
    }
  }

  .faceRight {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .playerName {
    position: absolute;
    top: -10%;
    color: var(--tertiary);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
}

.grave {
  & {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0;
    position: relative;
    min-width: 240px;
  }

  &sContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }
}
