.table {
  @apply mt-6;

  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.4rem;

  thead tr {
    th {
      padding: 8px 12px;

      font-family: "Teko";
      font-weight: 400;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 0.04rem;
    }
  }

  tbody {
    tr {
      height: 42px;
    }
    tr td {
      padding: 8px 12px;
    }
    tr td:first-of-type {
      padding-left: 12px;
    }
    tr td:last-of-type {
      padding-right: 12px;
    }
    tr:hover td {
      background-color: var(--midnight-hover);
    }
  }
}

.hide {
  display: none;

  &Badge {
    .badge {
      display: none;
    }
  }

  &Team {
    .team {
      display: none;
    }
  }

  &Box {
    .box {
      display: none;
    }
  }

  &Daycare {
    .daycare {
      display: none;
    }
  }

  &Grave {
    .grave {
      display: none;
    }
  }
}

.actions {
  opacity: 0;
  pointer-events: none;
}
.table tr:hover .actions {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 632px) {
  .table tr td:last-of-type,
  .table tr th:last-of-type {
    display: none;
  }
}
