.table {
  border-collapse: separate;
  border-spacing: 0;

  thead tr {
    th {
      padding: 8px 12px;

      border-top: 1px solid var(--secondary);
      border-bottom: 1px solid var(--secondary);
      background: var(--tertiary50);

      font-weight: 400;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0;
    }

    th:first-of-type {
      border-radius: 4px 0 0 4px;
      border-left: 1px solid var(--secondary);
    }

    th:last-of-type {
      border-radius: 0 4px 4px 0;
      border-right: 1px solid var(--secondary);
    }
  }

  tbody {
    tr td {
      padding: 8px 12px;

      border-bottom: 1px solid var(--tertiary);

      text-transform: capitalize;
    }
  }
}

.hide {
  display: none;

  &Badge {
    .badge {
      display: none;
    }
  }

  &Team {
    .team {
      display: none;
    }
  }

  &Box {
    .box {
      display: none;
    }
  }

  &Daycare {
    .daycare {
      display: none;
    }
  }

  &Grave {
    .grave {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .table tr td:last-of-type,
  .table tr th:last-of-type {
    display: none;
  }

  .table thead tr th:nth-last-child(2) {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid var(--secondary);
  }
}
